<div class="container">
  <div class="row" *ngFor="let objPost of objPosts.msg">
    <div class="header">
      <div class="head">
        <h3>{{ objPost.device_model }}</h3>
        <p *ngIf="objPost.minute_diff <= 2; else elseBlock">
          Last Connected: {{ objPost.created_dt }} online
        </p>
        <ng-template #elseBlock>
          <p>Last Connected: {{ objPost.created_dt }} offline</p>
        </ng-template>
      </div>
    </div>
    <div class="body-main">
      <div class="body ms-4">
        <div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-laptop"></i>
            </div>
            <div>
              <h6>Device id</h6>
              <p>{{ objPost.device_id }}</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-wifi"></i>
            </div>
            <div>
              <h6>Access Wifi: Disabled</h6>
              <p>SSD Auto</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-mobile-button"></i>
            </div>
            <div>
              <h6>Modal and OS Version</h6>
              <p>
                {{ objPost.device_model + " " + objPost.device_os_version }}
              </p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-bars"></i>
            </div>
            <div>
              <h6>RAM</h6>
              <p>{{ objPost.device_ram }}</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-credit-card"></i>
            </div>
            <div>
              <h6>Serial Number</h6>
              <p>{{ objPost.device_sno }}</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-signal"></i>
            </div>
            <div>
              <h6>Sim No</h6>
              <p>{{ objPost.device_sim_no }}</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-wifi"></i>
            </div>
            <div>
              <h6>Internet Connection</h6>
              <!-- <p>TEG9300MTOC07709</p> -->
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-battery-full"></i>
            </div>
            <div>
              <h6>Battery Health</h6>
              <!-- <p>TEG9300MTOC07709</p> -->
            </div>
          </div>
        </div>
        <div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-briefcase"></i>
            </div>
            <div>
              <h6>Manufacturer</h6>
              <p>{{ objPost.device_manufacturer }}</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-battery-quarter"></i>
            </div>
            <div>
              <h6>Battery</h6>
              <p>{{ objPost.device_battery_level }}%</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-mobile-button"></i>
            </div>
            <div>
              <h6>IMEI Number</h6>
              <p>{{ objPost.device_IMEI }}</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-temperature-half"></i>
            </div>
            <div>
              <h6>Temperature</h6>
              <p>{{ objPost.device_temprature }}</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-bars"></i>
            </div>
            <div>
              <h6>Storage Used</h6>
              <p>{{ objPost.device_storage_used }}</p>
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-spinner"></i>
            </div>
            <div>
              <h6>Signal strength</h6>
              <!-- <p>No detected sim</p> -->
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-plug"></i>
            </div>
            <div>
              <h6>Battery Plugged</h6>
              <!-- <p>No detected sim</p> -->
            </div>
          </div>
          <div class="body-media">
            <div class="icon">
              <i class="fa-solid fa-battery-full"></i>
            </div>
            <div>
              <h6>Battery Technology</h6>
              <!-- <p>No detected sim</p> -->
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="button">
        <button class="btn btn-primary me-2">View Details</button>
        <button class="btn btn-primary me-2">Reset Password</button>
        <button class="btn btn-primary">Wifi Settings</button>
      </div>
    </div>
  </div>
</div>
